:root {
  --blue: #286de3;
  color-scheme: light dark;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  /* match button theme color */
  outline-color: var(--blue);
}

body {
  background-color: light-dark(#f7f7f7, #3c3c3c);
  color: light-dark(#444, #aaa);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
  font-family: 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
}

h1,
h2 {
  margin: 0 0 0.5rem 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

input:not([type]),
input[type='text'] {
  border-radius: 3px;
  padding: 0.3rem;
  border: solid 1px rgb(101, 101, 101);
  min-width: 5rem;
  font-size: inherit;

  background-color: light-dark(white, #282828);
}

.push-button {
  appearance: none;
  border: solid 1px #bbb;
  border-color: light-dark(#bbb, rgb(124 124 124));

  padding: 0.25rem 0.75rem;
  border-radius: 0.3rem;
  background-color: light-dark(#fff, #505050);

  opacity: 0.6;
  &:not(:disabled) {
    opacity: 1;
    border-bottom-color: #777;

    &:hover {
      background-color: #f7f7f7;
      background-color: light-dark(#f7f7f7, #626262);
    }

    &:active {
      /* background-color: #dedede; */
      background-color: light-dark(#dedede, #727272);
    }
  }

  &:not([disabled]).is-default {
    color: white;
    color: rgba(255, 255, 255, 1);
    background-color: var(--blue);
    border-color: light-dark(var(--blue), #619bff);
    border-bottom-color: light-dark(#113762, #619bff);

    &:hover {
      background-color: #3b7ae5;
    }

    &:active {
      background-color: rgb(29, 110, 191);
    }
  }
}

/* Utils */

.block {
  display: block;
}

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.mt-0 {
  margin-block-start: 0;
}

.mt-4 {
  margin-block-start: 1rem;
}

.flex-auto {
  flex: auto;
}

.cursor-default {
  cursor: default;
}

.flex-col {
  flex-direction: column;
}

.items-end {
  align-items: flex-end;
}

.justify-items-end {
  justify-content: flex-end;
}

.gap-4 {
  gap: 1rem;
}

.gap-2 {
  gap: 0.5rem;
}
