html {
  --first-col-width: 200px;
}

body {
  width: 750px;
  padding: 0.5rem;
}

h2 {
  margin-block: 1rem;
  color: gray;
  font-size: inherit;
  margin: 1.25rem 0 0.5rem;
}

body.is-dragging,
body.is-dragging * {
  cursor: ew-resize !important;
}
.ParamTable__row-wrapper {
  /* stop margin collpse */
  display: flow-root;
}

.ParamTable {
  /* Counteract the margin on top row. We could not add it there, but then the animations are harder
  since removing the top row would need to change the margins around. This way, each row is the
  same, but there is a gap we need to remove at the top with this. */
  margin-top: -0.5rem;
}

.ParamTable__row {
  margin-top: 0.5rem;

  display: grid;
  position: relative;
  grid-template-columns: var(--first-col-width) auto 1fr auto;
  gap: 0.5rem;
  align-items: center;
}

.ParamTable__eq {
  cursor: ew-resize;
}

.ParamTable__eq.is-dragging {
  background-color: #ddd;
}

.splitter {
  position: absolute;
  opacity: 0;
  cursor: ew-resize;
  transition: opacity 100ms ease 25ms;
  background-color: light-dark(gray, lightgray);

  &:hover {
    opacity: 0.15;
  }

  body.is-dragging & {
    opacity: 0.3;
  }
}

.delete-button {
  appearance: none;
  padding: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 24px;
  width: 24px;
  border: none;
  background-color: transparent;
  border-radius: 3px;
  color: #666;

  &:disabled {
    visibility: hidden;
  }

  &:hover:not(:disabled) {
    background-color: rgb(222, 66, 66);
    svg {
      color: white;
    }
  }

  & > svg {
    width: 16px;
    height: 16px;
  }
}

.clown {
  transition: transform 500ms ease-in;
  transform: rotate(0);
  transform-origin: center 20px;
  display: inline-block;
  max-width: 32px;
  object-fit: fill;
}

.clown:hover {
  transform: rotate(360deg);
}

footer {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-block-start: 2rem;
  align-items: center;
  button {
    min-width: 5rem;
  }
}
